<!--{template header}-->
<h2 class="title"><a href="do.php?ac=stat">站點趨勢統計</a></h2>

<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>統計分類</h2>
		<p>站點趨勢統計系統，會記錄每日站點的發展概況。通過每日的趨勢變化，為站長運營站點提供科學的數據基礎。</p>
	</caption>
	<tr><td>
	<ul class="line_list">
		<li>
			<strong>基礎數據</strong>：
			<a href="do.php?ac=stat"$actives[all]>綜合概況</a> &nbsp;
			<!--{loop $cols['login'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>信息發佈</strong>：
			<!--{loop $cols['add'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>信息互動</strong>：
			<!--{loop $cols['comment'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>用戶互動</strong>：
			<!--{loop $cols['space'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
	</ul>
	</td></tr>
</table>
<br>

<table cellspacing="0" cellpadding="0" class="formtable">
	<!--{if $type=='all'}-->
	<caption>
		<h2>綜合概況</h2>
		<p>
		這裡看到的是站點的綜合概況發展統計。(需要至少統計2天後才有效)
		</p>
	</caption>
	<tr><td>
	<ul class="line_list">
		<li><strong>來訪用戶</strong>：指的是每天訪問本站的唯一用戶數。一個用戶訪問多次，也只算一次；</li>
		<li><strong>信息發佈</strong>：指的是每天發佈記錄、日誌、圖片、話題、投票、活動和分享的總數量；</li>
		<li><strong>信息互動</strong>：指的是每天進行以上信息互相評論和表態、參加投票、參與活動的互動總數量；</li>
		<li><strong>用戶互動</strong>：指的是每天用戶之間互相留言、打招呼的互動總數量；</li>
	</ul>
	</td></tr>
	<!--{else}-->
	<caption>
		<h2><!--{eval echo cplang("do_stat_$type");}--></h2>
	</caption>
	<!--{/if}-->
	<tr><td>
	<div class="borderbox">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,45,0" width="750" height="300">
		  <param name="movie" value="image/stat.swf?$statuspara" />
		  <param name="quality" value="high" />
		  <embed src="image/stat.swf?$statuspara" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="750" height="300"></embed>
		</object>
	</div>
	</td></tr>
</table>

<!--{template footer}-->