<!--{eval $_TPL['titles'] = array('排名');}-->
<!--{template header}-->

<div class="searchbar floatright">
<form method="get" action="cp.php">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="找人" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="ac" value="friend" />
	<input type="hidden" name="op" value="search" />
</form>
</div>
<h2 class="title"><img src="image/icon/show.gif" />排行榜</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li$actives[show]><a href="space.php?do=top"><span>競價排行</span></a>
		<li$actives[mm]><a href="space.php?do=top&view=mm"><span>美女排行</span></a>
		<li$actives[gg]><a href="space.php?do=top&view=gg"><span>帥哥排行</span></a>
		<li$actives[experience]><a href="space.php?do=top&view=experience"><span>經驗排行</span></a>
		<li$actives[credit]><a href="space.php?do=top&view=credit"><span>積分排行</span></a>
		<li$actives[friendnum]><a href="space.php?do=top&view=friendnum"><span>好友數排行</span></a>
		<li$actives[viewnum]><a href="space.php?do=top&view=viewnum"><span>訪問量排行</span></a>
		<li$actives[online]><a href="space.php?do=top&view=online"><span>在線成員</span></a>
		<li$actives[updatetime]><a href="space.php?do=top&view=updatetime"><span>全部成員</span></a>
	</ul>
</div>

<script type="text/javascript">
	function checkCredit(id) {
		var maxCredit = parseInt($space[credit]);
		var idval = parseInt($(id).value);
		if(idval > maxCredit) {
			alert("您的當前積分為:"+maxCredit+",請填寫一個小於該值的數字");
			return false;
		} else if(idval < 1) {
			alert("您所填寫的積分值不能小於1");
			return false;
		}
		return true;
	}
</script>

<div class="c_form">
	
	<!--{if $now_pos >= 0}-->
	<div style="padding-bottom:20px;">
		<h3 class="l_status">排行榜公告：</h3>
		<!--{if $_GET[view]=='show'}-->
			<!--{if $space[showcredit]}-->
			自己當前的競價積分為：$space[showcredit]，當前排名 <span style="font-size:20px;color:red;">$now_pos</span> ，再接再厲！
			<!--{else}-->
			您現在還沒有上榜。讓自己上榜吧，這會大大提升您的主頁曝光率。
			<!--{/if}-->
			<br>競價積分越多，競價排名越靠前，您的主頁曝光率也會越高；
			<br>上榜用戶的主頁被別人有效瀏覽一次，其競價積分將減少1個(惡意刷新訪問不扣減)。
		<!--{else}-->
			<!--{if $_GET[view]=='credit'}-->
			<a href="cp.php?ac=credit">自己當前的積分：$space[credit]</a>
			<!--{elseif $_GET[view]=='friendnum'}-->
			<a href="space.php?do=friend">自己當前的好友數：$space[friendnum]</a>
			<!--{elseif $_GET[view]=='experience'}-->
			自己當前的經驗數：$space[experience]
			<!--{else}-->
			<a href="space.php">自己當前的訪問量：$space[viewnum]</a>
			<!--{/if}-->
			，當前排名 <span style="font-size:20px;color:red;">$now_pos</span> ，再接再厲！
		<!--{/if}-->
		<!--{if $cache_mode}-->
		<p>下面列出的為前100名排行，數據每 $cache_time 分鐘更新一次。</p>
		<!--{/if}-->
	</div>
	<!--{/if}-->
	
	<!--{if $_GET['view']=='show'}-->
	<div style="padding: 0 0 20px 0;">
		<table width="100%">
			<tr><td width="50%" valign="top">
			<div class="l_status"><strong>幫助好友來上榜</strong></div>
			<div class="content">
				<form method="post" action="cp.php?ac=top" onsubmit="return checkCredit('stakecredit');">
				<p>
					要幫助的好友用戶名<br />
					<input type="text" name="fusername" value="" size="20" class="t_input" /><br />
					贈送競價積分(<span class="gray">不要超過自己的積分:$space[credit]</span>)<br />
					<input type="text" id="stakecredit" name="stakecredit" value="100" size="5" class="t_input" onblur="checkCredit('stakecredit');" /> <input type="submit" name="friend_submit" value="贈送" class="submit" />
				</p>
				<input type="hidden" name="friendsubmit" value="true" />
				<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
				</form>
			</div>
			</td>
			<td width="50%" valign="top">
			<div class="l_status"><strong>我也要上榜</strong></div>
			<div class="content">
				<form method="post" action="cp.php?ac=top" onsubmit="return checkCredit('showcredit');">
				<p>
					我的上榜宣言(<span class="gray">最多50個漢字，會顯示在榜單中</span>)
					<br />
					<input type="text" name="note" value="" size="35" class="t_input" /><br />
					增加競價積分(<span class="gray">不要超過自己的積分:$space[credit]</span>)<br />
					<input type="text" id="showcredit" name="showcredit" value="100" size="5" class="t_input" onblur="checkCredit('showcredit');" /> <input type="submit" name="show_submit" value="增加" class="submit" />
				</p>
				<input type="hidden" name="showsubmit" value="true" />
				<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" /></form>
			</div>
			</td>
		</tr></table>
	</div>
	<!--{/if}-->

	<!--{template space_list}-->
	
</div>

<!--{template footer}-->
